<div class="container-fluid" style="position:relative;">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
            <!-- IMG -->
            <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <img class="img-responsive" src="images/home1.gif"  width="100%">
                        <div class="carousel-caption">
                            <h3  class="headimgText">Better life, Better work!</h3>
                            <p  class="headText">You can register on Dailymed professional, with time line you can<br/> accesss anytime  anywhere</p>
                        </div>
                    </div>
                    
                    <div class="item">
                      <img class="img-responsive" src="images/home2.gif"  width="100%">
                        <div class="carousel-caption">
                            <h3  class="headimgText">Enjoyed by one and all</h3>
                            <p  class="headText">You can study  and share  the clinical cases  with your colleagues<br/>or other professional people</p>
                        </div>
                    </div>
                    
                      <div class="item">
                      <img class="img-responsive" src="images/home3.gif"  width="100%">
                        <div class="carousel-caption">
                            <h3  class="headimgText">Sign up now and find more</h3>
                            <p  class="headText">With time line, you find even more handy work, and more<br/>peace of your mind</p>
                        </div>
                    </div>
                    
                </div>
            </div>
         <!-- IMGEND -->
          <div class="container headInputCon" style="">
                          <div class="row headInput">
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><input class="form-control" placeholder="Nom" ></div>
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><input class="form-control" placeholder="Prenom" ></div>
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><input class="form-control" placeholder="Rpps" ></div>
                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><a class="btn btn-block profil">Trouver mon profil</a></div>
              </div>
       </div>
</div>
       


        <!--头部-->
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dailymed</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#">Accueil</a></li>
                    <li><a href="#">Références</a></li>
                    <li><a href="#">Avantages</a></li>
                    <li><a href="#">Témoignage</a></li>
                    <li><a href="#">Spécialités</a></li>
                    <li><a href="#">Annuaire médecins</a></li>
                  </ul>
                 
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
            </div>
            </div>
   </nav>
 
    </div>
      <!--头部end-->  
      
      <!--logo-->
      <div class="container-fluid homelogocon" >
          <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="images/link.png" class="img-responsive"></div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="images/starbucks.png" class="img-responsive"></div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="images/facebook.png" class="img-responsive"></div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="images/visa.png" class="img-responsive"></div>
               </div>
           </div >
      </div>
      
      
      <!--中间滑动-->
      <div class="container" style="border-bottom:1px solid #d1d1d1; padding-bottom:30px;">
          <div class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="images/img.jpg" class="img-responsive"  width="100%">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="images/img.jpg" class="img-responsive" width="100%">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>
             
         </div>
      </div>
      
      
  <!--正文-->
     <div class="container centerCon" >
        <div class="row homeconDiv">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img src="images/computer.png" class="img-responsive"></div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Connectez vous en toute sécurité</h5>
               <p class="contextGrey">Connectez vous en toute sécurité Dailymed est un réseau social sécurisée SSL dédié uniquement aux médecins</p>
             </div>
             <div class="clearfix"></div>
             
             <div class="col-lg-12 hidden-xs" style="height:40px;"></div>
             
             <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 home-man">
                    <div class="media">
                      <a class="media-left">
                        <img src="images/man.jpg" class=" img-circle img" alt="...">
                      </a>
                      <div class="media-body ">
                        <h4 class="media-heading manName">Media heading  <span class="timeText">IIyear 2 jours</span><span class="lines">
                        </span><span  class="addnamemess">12</span><span class="label label-default">+1</span></h4>
                        <p class="manNameSmall">specilitell</p>
                        
                        <p class="explainGrey">Connectez vous en toute sécurité Dailymed est un réseau social sécurisée SSLt </p>
                      </div>
                    </div> 
                    
                        <div class="input-group" style="margin-top:10px;">
                          <div class="input-group-addon"> <img src="images/man.jpg" class=" img-circle img" alt="..."></div>
                           <textarea class="form-control textacon" rows="3" placeholder="Saisir votre diagnostique" ></textarea>
                        </div>
                    
                    <div class="media">
                      <a class="media-left pull-left img" ></a>
                      <div class="media-body pull-left ">
                       <a class="btn profil">Valider</a>
                      </div>
                    </div> 
             </div>
             
             <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Demandez un second avis</h5>
               <p class="contextGrey ">Présentez vos cas cliniques les plus difficiles à des confrères, et obtenir des réponses en quelques minutes</p>
             </div>
             
              <div class="clearfix"></div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Reconnectez avec vos confrères </h5>
               <p class="contextGrey">Valorisez vos compétences professionnelles et vos sous spécialités grâce à notre réseau</p>
             </div>
              
              
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="clearfix visible-sm"></div>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                       <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="clearfix visible-sm"></div>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="clearfix visible-sm"></div>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="clearfix visible-sm"></div>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                  </div>
             </div>
              
              <div class="clearfix"></div>  
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  " style="padding:0px 95px;">
              <div class="shadowCon">
                   <div class="media">
                      <a class="media-left">
                        <img src="images/man.jpg" class=" img-circle img" alt="...">
                      </a>
                      <div class="media-body ">
                        <h4 class="media-heading manNamebalck">Media heading </h4>
                        <p class="manNameSmall">specilitell</p>
                      </div>
                      <div class="u-honor"><a class="uicon"></a> <a class="honoriocn"></a></div>
                    </div>  
                    <p class="text-primary">Comment vous traitez ce cas?</p>
                  <p class="contextGreyone">Une femme de 60 ans consulte pour des lombalgies basses et des douleurs des membres inférieurs. De nouveaux clichés très récents permettent de noter que l'aspect de la vertèbre L5 s'est modifié.. <span class="addnamemess">Afficher la suite</span></p>
                      <img  src="images/imgView.jpg" class="img-responsive"  width="100%">
                      <div  class="imgbottom">
                        <p class="contextGrey">Specialities concernees <span class="addnamemess-small pull-right">130  vules<span class="addnamemess-small comment">25</span></span></p>
                         <p class="addnamemess">Biologie moléculaire  |  Médecine de castatrophe Chirurgie plastique reconstructrice...</p>
                      </div>
                       
                       <div>
                       <p class="pull-left textinfo">Plus de détails</p>
                       <span class="timeText pull-right">IIyear 2 jours</span>
                       </div>
                </div>   
             </div>
             
             
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Reconnectez avec vos confrères </h5>
               <p class="contextGrey">Valorisez vos compétences professionnelles et vos sous spécialités grâce à notre réseau</p>
             </div>
             
             <div class="clearfix"></div> 
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Reconnectez avec vos confrères </h5>
               <p class="contextGrey">Valorisez vos compétences professionnelles et vos sous spécialités grâce à notre réseau</p>
             </div>
              
              
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <div class="row">
                       <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                       <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="addfram">
                          <a class="adddemo">+</a>
                          <div class="media media-man">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/man.jpg" class=" img-circle img" alt="...">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading addname">Media heading</h4>
                                <p class="addnamemess">ANESTHESIOLOGY</p>
                                <p class="contextGrey addnamemess-small">Connectez </p>
                              </div>
                          </div> 
                         <div class="addnamemess-small">Valorisez vos compétences professionnelles Valorisez vos </div> 
                        </div>
                      </div>
                      
                  </div>
             </div>
             
             <div class="clearfix"></div>
             
             <div class="col-lg-6">
               <img src="images/fouceImg.png" class="img-responsive" width="100%">
             </div>
              
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Reconnectez avec vos confrères </h5>
               <p class="contextGrey">Valorisez vos compétences professionnelles et vos sous spécialités grâce à notre réseau</p>
             </div>
              
              <div class="clearfix"></div>
              
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <h5 class="blueTitle">Reconnectez avec vos confrères </h5>
               <p class="contextGrey">Valorisez vos compétences professionnelles et vos sous spécialités grâce à notre réseau</p>
             </div>
             
            
             
             <div class="col-lg-12  visible-xs" style="height:20px;"></div>
             
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                  
             <span class="contextGrey" style="border-bottom: 1px solid #d1d1d1;">Valorisez vos  <span class="addnamemess" style="margin-left:80px;">Afficher touch</span> </span>
              <div class="clearfix"></div>
                   <div class="media">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/textbook.png" >
                              </a>
                              <div class="media-body">
                               <h4 class="media-heading addnamemess">Media heading&nbsp;&nbsp;&nbsp;&nbsp; <span class="addnamemess-small timeText">IIyear 2 jours</span></h4>                               <p class="contextGrey addnamemess-small">Connectez</p>
                              </div>
                  </div>
                  
                   <div class="media">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/textbook.png" >
                              </a>
                              <div class="media-body">
                               <h4 class="media-heading addnamemess">Media heading&nbsp;&nbsp;&nbsp;&nbsp; <span class="addnamemess-small timeText">IIyear 2 jours</span></h4>                               <p class="contextGrey addnamemess-small">Connectez</p>
                              </div>
                  </div>
                  
                   <div class="media">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/textbook.png" >
                              </a>
                              <div class="media-body">
                               <h4 class="media-heading addnamemess">Media heading&nbsp;&nbsp;&nbsp;&nbsp; <span class="addnamemess-small timeText">IIyear 2 jours</span></h4>                               <p class="contextGrey addnamemess-small">Connectez</p>
                              </div>
                  </div>
                   <div class="media">
                              <a class="media-left" href="#" style="text-align:center;">
                           <img src="images/textbook.png" >
                              </a>
                              <div class="media-body">
                               <h4 class="media-heading addnamemess">Media heading&nbsp;&nbsp;&nbsp;&nbsp; <span class="addnamemess-small timeText">IIyear 2 jours</span></h4>                               <p class="contextGrey addnamemess-small">Connectez</p>
                              </div>
                  </div>
                  
             </div>
             
              
       </div>
     </div>
     
     <div class="container">
         <div class="col-lg-12" style="text-align:center;">
               <h1 class="blueTitle">Reconnectez avec vos confrères </h1>
         </div>
         
         <div class="col-lg-12" style="text-align:center; margin-top:10px;">
               <ul class="footList">
                  <li>Allergy & Immunology </li>
                  <li>Anesthesiology</li>
                  <li>Cardiology</li>
                  <li>Certified Registered Nurse Anesthetist</li>
                  <li>Chiropractor</li>
                  <li>Colon & Rectal Surgery</li>
                  <li>DentistDermatology</li>
                  <li>Diet/Nutritionist</li>
                  <li>Emergency Medicine</li>
                  <li>Family Medicine </li>
                  <li class="more">More…</li>
               </ul>
         </div>
      
     
     </div>

   <div class="container-fluid footcon" >
       <p class="contextGrey addnamemess-small pull-left">Mentions legales    Conditions d'utilisations </p> 
       <a class="ssl"></a>  
          
       <div class="pull-right">
           <p class="addnamemess-small">© 2014 Dailymed Inc. All rights reserved.
           <a class="twitter"></a>  <a class="facebook"></a>   <a class="goggleplus"></a>
           </p>
       </div>
    </div>